#toplevel_page_company_info .wp-menu-image, #toplevel_page_company_info .wp-menu-image img {
  padding: 0;
}
#toplevel_page_company_info .wp-menu-image img {
  opacity: 1;
}

html, body {
  height: initial;
  min-height: 100%;
}

.login {
  background-image: url("../images/sign-in-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #000;
}
.login:before {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  background-color: rgba(0, 0, 0, 0.5);
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.7;
  z-index: -1;
}
.login h1 a {
  background-image: url("../images/icon.png");
  background-size: contain;
  width: 100%;
}
.login #backtoblog a, .login #nav a {
  color: #fff;
}
